## 1. 파이썬 함수

In [13]:
def add(a,b):
    return(a+b)
    # print(a+b) 도 가능
a,b = 3,4
c = add(a,b)

print(c)

d = add(111,222)
print(d)

7
115

In [14]:
# 1. 매개변수 O, 리턴값 O
def minus(a,b):
    result = a -b
    return result

a = minus(10,4)
print(a)

6

In [15]:
# 2. 매개변수 X, 리턴값 O
def say():
    return('hi!')

print(say())

hi!

In [17]:
# 3. 매개변수 O, 리턴값 X
def add(x,y):
    print("%d, %d의 합은 %d 입니다."%(x, y, x+y))
add(12,24)


a = add(3,4)
print(a)

12, 24의 합은 36 입니다.
3, 4의 합은 7 입니다.
None

In [18]:
# 4. 매개변수 X, 리턴겂 X
def say():
    print('hi~')
say()

hi~

In [23]:
# 키워드 매개변수
def sub(a, b):
    return a - b

result = sub(7, 3)
print(result)

result2 = sub(b=3, a=7)
print(result2)

4
4

In [27]:
# 가변 매개변수(*매개변수명)
def add_many(*args): #args는 입력값을 모아서 튜플로 저장이 가능하다(수량제한 없음)
    result = 0
    for i in args:
        result += i
    return result
res1 = add_many(1,2,3,4,5,6)
print(res1)

res2 = add_many(1,2,3,4,5,6,7,8,9,10)
print(res2)

21
55

In [39]:
# 덧셈, 곱셈 둘다 연산 가능한 함수
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result+=i
    elif choice == "mul":
        result = 1
        for i in args:
            result*=i
    return result
result = add_mul("add",1,2,3)
print(result)
result = add_mul("mul",1,2,3)
print(result)

6
6

In [41]:
# 키워드 가변 매개변수(**매개변수)
def print_kwargs(**kwargs):
    print(kwargs)
print_kwargs(a = 1)
print_kwargs(name='foo', age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

In [55]:
# 함수의 리턴값은 하나!!
def add_and_mul(a,b):
    return a+b, a*b
res = add_and_mul(3,4)
print(res)

res1, res2 = add_and_mul(3,4)
print("a+b = ",res1)
print("a*b = ", res2)

(7, 12)
a+b =  7
a*b =  12

In [58]:
# 함수의 리턴값은 하나!!
def add_and_mul(a,b):
    return a+b
    return a*b
res = add_and_mul(2,3)
print(res)

# res1, res2 = add_and_mul(3,4)
# print("a+b = ",res1)
# print("a*b = ", res2)

5

In [64]:
# return의 또 다른 쓰임새
def say_nick(nick):
    if nick == '바보':
        return
    print("나의 별명은 %s"%nick)
say_nick('야호')
say_nick('바보')
say_nick('밥')

나의 별명은 야호
나의 별명은 밥

In [67]:
# 매개변수에 초깃값 설정
def say_myself(name,age,man=True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는  {age}살입니다.")
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")
say_myself("성득명",28)
say_myself("성득명",28, False)
say_myself("성득명",28, True)

나의 이름은 성득명입니다.
나이는  28살입니다.
남자입니다.
나의 이름은 성득명입니다.
나이는  28살입니다.
여자입니다.
나의 이름은 성득명입니다.
나이는  28살입니다.
남자입니다.

In [68]:
# 매개변수에 초깃값 설정
def say_myself(name,man=True,age): # 기본값도 위치가 다르면 오르가 발생한다.
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는  {age}살입니다.")
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")
say_myself("성득명",28)
say_myself("성득명",28, False)
say_myself("성득명",28, True)

SyntaxError: parameter without a default follows parameter with a default (3321366676.py, line 2)

In [97]:
# 함수의 유효범위
a = 1
def vartest(value):
    a = a+1

vartest(a)
print(a)

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

In [98]:
# 함수의 유효범위 => 1. return 사용하기
a = 1
def vartest(x):
    x = x+1
    return x

a = vartest(a)
print(a)

2

In [94]:
# 함수의 유효범위 => 2. global 명령어 사용하기
a = 1
def vartest():
    global a # 함수 안에서 a는 전역변수로 변경됨
    a += 1
vartest()
print(a)

2

In [1]:
# lambda 표현식(예약어) 사용 안하고 함수 선언
def add(a,b):
    return a+b
print(add(3,4))

7

In [2]:
# lambda 사용한 버전
add = lambda a, b:a+b
result=add(3,4)
print(result)

7

## 2. 함수의 활용

#### 1) 재귀 함수
: 내가 만든 함수를 다시 호출하는 것

In [3]:
# 반복문으로 팩토리얼 구하기
def factorial(n):
    output = 1
    for i in range(1,n+1):
        output *= i
    return output
print('5!', factorial(5))
print('4!', factorial(4))
print('3!', factorial(3))
print('2!', factorial(2))
print('1!', factorial(1))

5! 120
4! 24
3! 6
2! 2
1! 1

In [4]:
# 재귀 함수로 팩토리얼 구하기
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
print('5!', factorial(5))

5! 120

#### 2)리스트 평탄화하는 재귀함수 만들기

In [5]:
# 반복문으로 리스트 평탄화
def flatten(data):
    output = []
    for item in data:
        if type(item) == list:
            output += item
        else:
            output.append(item)
    return output
example = [[1,2,3],[4,[5,6]],7,[8,9]]
print('원본: ',example)
print('변환: ',flatten(example))

원본:  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환:  [1, 2, 3, 4, [5, 6], 7, 8, 9]

In [6]:
# 재귀 함수로 리스트 평탄화
def flatten(data):
    output = []
    for item in data:
        if type(item) == list:
            output += flatten(item)
        else:
            output.append(item)
    return output
example = [[1,2,3],[4,[5,6]],7,[8,9]]
print('원본: ',example)
print('변환: ',flatten(example))

원본:  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환:  [1, 2, 3, 4, 5, 6, 7, 8, 9]